public
suites
target
test-output
/src

# Gradle files
.gradle/
build/
*/build/
gradlew
gradlew.bat

# Log Files
*.log

# IntelliJ IDEA Project files
.idea
*.iml
*.ipr
*.iws
out
*/*.iml

# Eclipse Project files
.classpath
.project
.settings/

.DS_Store
Thumbs.db

*.bat
*.class
*.apk
*.ap_
*.bak
*.tem
*.temp
#.swp
*.*~
~*.*



